<form class="form" action="<%= notes_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  
  <p>
    <label for="note_content">New Note:</label>
    <textarea id="note_content" 
    rows="7" cols="30" 
    name="note[content]"></textarea>
  </p>

  <input type="submit">
</form>