<h2 class="page-header">Add a Track to <%= @album.title %></h2>

<%= render "form", track: @track %>

<br>
<br>

<p class="button">
    <a data-turbolinks="false" 
      href="<%= album_url(@album) %>"
      >Back to <%= @album.title %></a>
</p>