<h1 class="page-header">Create New User</h1>

<form class="credentials-form" action="<%= users_url %>" method="post">
  <%= auth_token %>

  <p>
  <label for="email">Email:</label>
  <input id="email" type="text" name="user[email]">
  </p>

  <p>
  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]">
  </p>
  
  <input type="submit" value="Sign Up">
</form>