<h2 class="page-header">Add a New <%= @band.name %> Album</h2>

<%= render "form", album: @album %>

<br>
<br>
    
<p class="button">
    <a data-turbolinks="false" href="<%= band_url(@band) %>">Back to <%= @band.name %></a>
</p>