<h2 class="page-header">Bands</h2>

<ul class="main-list">
  <% @bands.each do |band| %>
    <li>
        <a href="<%= band_url(band) %>"
          data-turbolinks="false"
          ><%= band.name%></a>
    </li>
  <% end %>
</ul>

<a class="button" data-turbolinks="false" href="<%= new_band_url %>">Add a Band</a>