p, a, input, label {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Permanent Marker';
}

a, input[type='submit'] {

  &:hover {
    transition: .5s;
    color: white;
  }
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(196, 21, 21, 0.995);
  margin-bottom: 10px;

  &:hover {
    color: white;
    background-color: rgba(169, 18, 18, 0.995);
    cursor: pointer;
  }
}

input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(196, 21, 21, 0.995);
  margin-bottom: 10px;

  &:hover {
    color: white;
    background-color: rgba(169, 18, 18, 0.995);
    cursor: pointer;
  }
}

body {
  background-color: rgb(121, 110, 64);
}

.main-content {
  width: 800px;
  min-height: 100vh;
  margin: auto;
  padding: 30px;
  border: solid grey;
  border-width: 0 5px;
  background-color: #343030;

  display: flex;
  flex-direction: column;
  align-items: center;

  .main-logo {
    font-size: 75px;
    margin-bottom: 30px;
    color: #FDDB61;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .user-detail {
      display: flex;

      p {
        margin: 10px;
      }
    }
  }
}