.form {
  width: 400px; 
  display: flex;
  flex-direction: column;

  p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    label, input {
      display: block;
    }

    label {
      padding-right: 5px;
      color: #FDDB61;
    }
  }

  input[type="submit"] {
    align-self: flex-end;
  }
}